//Background color
$bgColor-White: #fff;
$bgColor-primary: #440076;
$bgColor-green-blur: rgb(23, 235, 115, 0.85);
$bgColor-dark: #0e65a7;
$btnBg-landing: #178feb;

// text color
$textColor-primary: #440076;
$textColor-colorWhite: white;
$textColor-colorDark: #4f4f4f;
$textColor-colorBlack: black;
$textColor-colorLightGray: #f7f7f7;
$textColor-colorLightGrayTrans: RGBA(247, 247, 247, 0.3);
$textColor-colorLightGrayTrans2: RGBA(247, 247, 247, 0.6);
$textColor-colorGray: gray;
$textColor-header-Home: white;
$textColor-header: black;

// shadow color
$shadowColor: 2px 2px 2px 0px rgba(255, 255, 255, 0.5);
$shadowColorWhite: 1px 0px 5px 1px white;