@use '../../styles/variables' as v;
@use '../../styles/breakpoint.scss';

.header {
  position: relative;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
  color: v.$textColor-header;
  z-index: 3;

  &-home {
    position: absolute;
    color: v.$textColor-header-Home;
  }

  @include breakpoint.media(tablet_xl_mini) {
    justify-content: space-between;
  }

  &_burger {
    order: 1;

    @include breakpoint.media(tablet_xl_mini) {
      display: none;
    }
  }

  &_logo {
    order: 2;
    display: flex;
    align-items: center;
    font-family: "Wallpoet", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;

    @include breakpoint.media(tablet_xl_mini) {
      order: 1;
    }

    &_link {
      text-decoration: none;

      &_text {
        color: v.$textColor-header;

        &-home {
          color: v.$textColor-header-Home;
        }
      }
    }
  }

  &_navbar {
    display: none;
    padding: 0;
    margin: 0;

    @include breakpoint.media(tablet_xl_mini) {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style-type: none;
      gap: 1.5rem;
      order: 2;
      font-weight: 700;
    }

    @include breakpoint.media(desktop) {
      gap: 3rem;
    }

    &_link {
      text-decoration: none;
      color: v.$textColor-header;

      &-active {
        color: v.$textColor-other;
        ;
      }

      &-home {
        color: v.$textColor-header-Home;
      }
    }
  }

  &_profile {
    order: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    &_links {
      color: v.$textColor-header;

      &-home {
        color: v.$textColor-header-Home;
      }
    }
  }
}